  <header>
  <div class="container">
    <div class="logo">
      'Bread Cafe Bot'
    </div>
    <nav class="navbar">
      <ul>
        <li><%= link_to 'HOME', root_path %></li>
        <li><%= link_to 'sing_up', products_path %></li>
        <li><%= link_to 'log_in', about_path %></li>
        <li><%= link_to 'log_out', about_path %></li>
      </ul>
    </nav>
  </div>
</header>
